body {
    background-image: url('fondoapli.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    font-family: Arial, sans-serif;
}
input[type="number"] {
    width: 100%;
    padding: 10px; 
    margin: 10px 0; 
    border: 2px solid #007BFF; 
    border-radius: 5px; 
    font-size: 16px; 
    color: #333; 
}

input[type="number"]:focus {
    border-color: #0056b3; 
    outline: none; /
}

.container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    border-radius: 10px;
    margin: 50px auto;
    max-width: 400px;
    color: #429d43;
    
}

h1 {
    color: #6511e1;
}

label {
    display: block;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 5px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #8d1c1c;
}

#result {
    text-align: left;
    margin-top: 20px;
}

p {
    margin: 5px 0;
}


